<style>
.border-left {
border-left: 1px solid #ddd;
}
</style>
<!-- START PANEL -->

<div class="container-fluid container-fixed-lg bg-white">
<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title">Capital Raise for Project Configuration
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover" id="basicTable">
        <div class="m-t-15">
        <p class="all-caps fs-12 bold">
        </p>
        <form role="form">

          <div class="form-group-attached">

        <div class="row">
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Opening Date</label>
        <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group date myDatepicker'>
                          <input type='text' class="form-control">
                          <span class="input-group-addon">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Closing Date</label>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date myDatepicker'>
                        <input type='text' class="form-control">
                        <span class="input-group-addon">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Total Supply</label>
        <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group'>
                          <input type='text' class="form-control">
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Participant Limit</label>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group'>
                        <input type='text' class="form-control">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Capital Raise Goal ($)</label>
        <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group'>
                          <input type='text' class="form-control">
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Crowd Sale Rights Split (%)</label>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group'>
                        <input type='text' class="form-control">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        <div class="form-group form-group-default">
        <label>Royalty Types</label>
        <div class="checkbox check-default">
            <input type="checkbox" checked="checked" value="1" id="checkbox1">
            <label for="checkbox1">Merchandise</label>
        </div>

        <div class="checkbox check-success">
            <input type="checkbox" checked="checked" value="1" id="checkbox2">
            <label for="checkbox2">Streaming</label>
        </div>

        <div class="checkbox check-primary">
            <input type="checkbox" checked="checked" value="1" id="checkbox3">
            <label for="checkbox3">Record Sales</label>
        </div>
        </div>


      </div>

        </form>
        </div>

      </table>
    </div>
  </div>
</div>
</div>

<!-- END PANEL -->
