<style>
.border-left {
border-left: 1px solid #ddd;
}
</style>
<!-- START PANEL -->

<div class="container-fluid container-fixed-lg bg-white">
<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title">Project Setup Configuration
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover" id="basicTable">
        <div class="m-t-15">
        <p class="all-caps fs-12 bold">
        </p>
        <form role="form">

          <div class="form-group-attached">

        <div class="form-group form-group-default ">
        <label>Project Title</label>
        <input type="email" class="form-control" placeholder="ex: Kind of Blue" required>
        </div>
        <div class="row">
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Sub Title</label>
        <input type="text" class="form-control" placeholder="ex: Japanese Jazz Jam Album" required>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group form-group-default">
        <label>Genre</label>
        <input type="text" class="form-control" placeholder="ex: Bebop">
        </div>
        </div>
        </div>
        <div class="form-group form-group-default">
        <label>Description</label>
        <input type="text" class="form-control" required style='height:60px'>
        </div>
        <div class="form-group form-group-default">
        <label>Music Format</label>
        <div class="checkbox check-default">
            <input type="checkbox" checked="checked" value="1" id="checkbox1">
            <label for="checkbox1">LP Full Length Album</label>
        </div>

        <div class="checkbox check-success  ">
            <input type="checkbox" checked="checked" value="1" id="checkbox2">
            <label for="checkbox2">EP Short Length Album</label>
        </div>

        <div class="checkbox check-primary">
            <input type="checkbox" checked="checked" value="1" id="checkbox3">
            <label for="checkbox3">Single</label>
        </div>        </div>


      </div>

        </form>
        </div>

      </table>
    </div>
  </div>
</div>
</div>

<!-- END PANEL -->
