<!-- Modal -->
<div class="modal fade slide-up disable-scroll" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="pg-close fs-14"></i>
                </button>
                <h5>Send Eth <span class="semi-bold"></span></h5>
            </div>
            <div class="modal-body">
              <label>1 ETH = $601.21 </label>
                <input type="text" class="form-control" name="buy" required>

                <div style="padding:10px;float:right;">
                  <button class="btn btn-success btn-cons" data-toggle="modal" data-target="#myModal">
                    Send
                  </button>
                </div>
            </div>
            <br>

        </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
