<!--  ############# -->
<!--  HEADER SEARCH -->
<!--  ############# -->

<div class="container-fluid">
  <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
</div>
<div class="container-fluid">
  <div class="search-results m-t-40">
    <p class="bold">Search Results</p>
    <div id=instrument_search_results >
      <%= render :partial => '/layouts/search_results' %>
    </div>
  </div>
</div>
<!-- END Overlay Search Results !-->
</div>
